<html>
    <head>
        <title>My To Do list</title>
    </head>
    <center>
    <body style="background-color: #a6e6f7ff;">
          <section>     
        <h1> Task list</h1>
        <h2><a href="{% url 'task_create' %}">Add New Task</a></h2>
        
            {% for task in tasks%}
           
            <li>
                 {% if task.is_done %}
                         <u> <B><i>{{ task.title }}</i></B></u>
                        {% else %}
                         <B><i>{{ task.title }}</i></B>
                  {% endif %}
               
               <form action="{% url 'task_done' task.pk %}" method="post" style="display:inline;">
                    {% csrf_token %}
                    <button type="submit">
                     
                        
                        {% if task.is_done %}
                           <span style="color: red;">(Pending)</span>  &#10007;
                        {% else %}
                             <span style="color: green;">(Done)</span>  &#x1F5F9;
                        {% endif %}
                    </button>
                    
                </form>
                <a href="{% url 'task_update' task.pk %}"> <button type="submit"> Edit </button>  </a>   
                <a href="{% url 'task_delete' task.pk %}"><button type="submit">Delete</button></a> 
             
            
            </li><br><br>
            {% empty %}
            <li>No tasks available.</li>
          
            {% endfor %}
        </section>
      </body>
    </center>

</html>